<div class="row">
  <h1 class="col-md-12">A Form</h1>
</div>
<form class="col-md-12" action="/api" method="post" enctype='multipart/form-data'>
  <div class="row">
    <div class="input-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="text" class="form-control" name="name" value="" placeholder="Please input something">
    </div><!-- /input-group -->
    <div class="input-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="file" class="form-control" name="file" value="" placeholder="Please input something">
    </div><!-- /input-group -->
    <div class="input-group">
      <label>&nbsp;</label>
      <button type="submit" class="btn btn-primary btn-block"><span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Confirm</button>
    </div>
  </div><!-- /.row -->
</form>
