<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1>I fight for a bright tomorrow.</h1>
      <h3><small>为了更美好的明天...欢迎来自豆瓣的朋友</small></h3>
    </div>
  </div>
  <div class="col-md-12">
    <ol class="breadcrumb">
      <li><a href="/react" target="_blank">可拖拽列表</a></li>
      <li><a href="/test" target="_blank">本地图片显示</a></li>
      <li><a href="/form" target="_blank">上传图片</a></li>
      <li><a href="/orm" target="_blank">数据库</a></li>
      <li><a href="/session" target="_blank">Session+1</a></li>
      <li><a href="/logout" target="_blank">Session empty</a></li>
    </ol>
  </div>
</div>
<div class="row">
  <div class="col-xs-6 col-sm-4 col-md-2">
    <div class="thumbnail">
      <img src="http://msyfls123.github.io/img/Pic.jpg" alt="...">
      <div class="caption">
        <h3>Github Page</h3>
        <p><a href="http://msyfls123.github.io/" target="_blank" class="btn btn-primary" role="button">Go</a></p>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-10">
    <div class="media">
      <a class="media-left" href="#">
      <span class="glyphicon glyphicon-user"></span>
      </a>
      <div class="media-body">
        <h4 class="media-heading">技能一览</h4>
        <p><span class="label label-primary">前端开发</span> 熟练开发符合 W3C、兼容性及响应式要求的页面</p>
        <ul class="list-group">
          <li class="list-group-item"><span class="text-info">用框架</span> 熟练使用 <code>jQuery/React/Vue</code> 开发应用，了解 <code>Angular</code>，正在学习<code>Redux</code>等状态管理工具</li>
          <li class="list-group-item"><span class="text-info">工程化</span> 应用 <code>Gulp/webpack</code> 等打包工具管理项目依赖的 codejs/scss/img 等资源，实现单页面应用</li>
          <li class="list-group-item"><span class="text-info">黑魔法</span> 全景播放器 <code>Krpano</code>，会它的一点点XML语法，能实现简单的交互</li>
        </ul>
        <p><span class="label label-primary">基础技能</span> 用 <code>Git/SVN</code> 进行版本管理，<code>npm</code> 做 <code>node</code> 包管理，Linux 下简单操作， <code>Vim</code> 会保存退出...</p>
        <p><span class="label label-primary">后端开发</span> 构建CMS型网站，数据库对接，REST接口等</p>
        <ul class="list-group">
          <li class="list-group-item"><span class="text-info">Python</span> 熟悉 <code>Django</code> 框架的应用，有案例，能用<code>Python</code> 进行一些简单的数据处理</li>
          <li class="list-group-item"><span class="text-info">NodeJS</span> 熟悉<code>Express</code> 框架，对Session/ORM等有了解</li>
          <li class="list-group-item"><span class="text-info">Server</span> 能配置 <code>Nginx/MySQL/Git</code> 等</li>
        </ul>
        <p><span class="label label-primary">数据可视化</span> 熟悉 <code>D3.js/HightCharts</code> 等框架，了解 <code>Canvas/SVG</code> 语法，会用 <code>LATEX</code> 进行排版</p>
        <p><span class="label label-primary">平面设计</span> 熟练掌握 AI/Ps/Id 等常用平面软件操作，排排小册子没问题的啦</p>
        <p><span class="label label-primary">交互设计</span> 能使用 Axure/AE/PR 等软件完成 APP 网页等原型及交互，会制作简单小视频</p>
        <p><span class="label label-primary">三维设计</span> 掌握 Rhino/3dMax/SketchUp/CATIA 等三维软件，有过虚拟仪器开发经验</p>
      </div>
    </div>
    <div class="media">
      <a class="media-left" href="#">
      <span class="glyphicon glyphicon-tasks"></span>
      </a>
      <div class="media-body">
        <h4 class="media-heading">实践经历</h4>
        <p><span class="label label-primary">苏州蜗牛数字科技股份有限公司</span> 前端开发（实习）</p>
        <h5 class="text-info">编写具有适配性、响应用户交互操作的游戏活动专题页面：</h5>
        <ul class="list-group">
          <li class="list-group-item"><span class="text-info">类型</span> 预约+ 报名+ 抽奖+ 签到+ 手机投票+ 微信公众号回复关键词等</li>
          <li class="list-group-item"><span class="text-info">开发</span> <code>Gulp/webpack</code> 打包，<code>Sass</code> 编写样式，小图片sprite 化，<code>Vue/React</code> 编写多交互页面</li>
          <li class="list-group-item"><span class="text-info">问题</span> 跨域Ajax，IE 兼容及平稳退化，响应式，用户状态数据的维护等</li>
        </ul>
        <h5 class="text-info">蜗牛直播平台（v.woniu.com）的前端开发，解决问题：</h5>
        <ul class="list-group">
          <li class="list-group-item">根据不同类型 <code>（flash/iframe/video）</code> 动态渲染直播源至页面</li>
          <li class="list-group-item">视频列表页面的js 分页及按页面宽度缩放列表项以充满屏幕宽度</li>
          <li class="list-group-item">针对不同屏幕及不同内容长度对侧边栏、主体内容和底栏做兼容性适配</li>
        </ul>
        <h5 class="text-info">某海外视频站点的前端开发，解决问题：</h5>
        <ul class="list-group">
          <li class="list-group-item">首页及列表页的无限滚动加载</li>
          <li class="list-group-item"><code>Vue</code> 做用户评论点赞功能的组件化开发</li>
          <li class="list-group-item">未购买用户视频播放时的购买弹窗功能</li>
        </ul>
        <p><span class="label label-primary">项目</span> <a href="http://derui-tech.com" target="_blank">深圳市中科德睿智能科技有限公司网站</a></p>
        <p><span class="label label-primary">项目</span> <a href="http://msyfls123.github.io/jidian/" target="_blank">中国地质大学 (武汉)机电学院</a></p>
      </div>
    </div>
  </div>
</div>
