<h1>A Form</h1>
<form class="" action="/api" method="post" enctype='multipart/form-data'>
  <input type="text" name="name" value="" placeholder="Please input something">
  <input type="file" name="file" value="">
  <input type="submit" value="Submit">
</form>
